{% extends 'poly/layout.html' %}

{% load staticfiles %}

{% block content %}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Hasta Kaydı Oluştur
                </h2>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br/>
                <form method="POST" data-parsley-validate class="post-form form-horizontal form-label-left">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.name.errors }}
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">TC Kimlik Numarası <span
                                class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="id_name" name="id_number" required="required"
                                   class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.code.errors }}
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Adı <span
                                class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="id_name" name="name" required="required"
                                   class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.name.errors }}
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Soyadı <span
                                class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="id_name" name="surname" required="required"
                                   class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.name.errors }}
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">SSN <span
                                class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="id_name" name="ssn" required="required"
                                   class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.name.errors }}
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Doğum Tarihi <span
                                class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" name="birthday" class="form-control" data-inputmask="'mask': '99/99/9999'">
                          <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                        </div>
                    </div>

                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button class="btn btn-primary" type="reset">Temizle</button>
                            <button type="submit" class="btn btn-success">Kaydet</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block script %}
    <!-- jquery.inputmask -->
    <script src="{% static 'vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js' %}"></script>
{% endblock %}